
  <div class="top-order"></div>

    <nav>
  Ordenar por:
  <select class="order__container">
    <option value="" disabled="true" selected="true">Selecciona una opción...</option>
    <option value="pricemM">Precio de Menor a mayor</option>
    <option value="priceMm">Precio de Mayor a menor</option>
    <option value="heightmM">Tamaño de Menor a mayor</option>
    <option value="heightMm">Tamaño de Mayor a menor</option>
    <option value="rating">Los mejor votados</option>
    
    
  </select>

  <p>
    <label for="amount">Price range:</label>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
  </p>

  <div id="slider-range"></div>
  <button class="searchbtn">Buscar</button>


  <input type="text" class="search_input">
</nav>
  
    <main class="container">

      <section class="filters">

        <h2 class="filters__title">CATEGORÍA</h2>

            <a href="/tienda/?categoty=Disney">
            <div class="filters__container{{#if isDisney }} filters__container--click{{/if}}"></div>
            <h3 class="filters__item">Disney</h3></a>

            <a href="/tienda/?categoty=ApapachoOficial">
            <div class="filters__container{{#if isApapachoOficial }} filters__container--click{{/if}}"></div>
            <h3 class="filters__item">Apapacho Oficial</h3></a>

            <a href="/tienda/?categoty=Pixar">
            <div class="filters__container{{#if isPixar }} filters__container--click{{/if}}"></div>
            <h3 class="filters__item">Pixar</h3></a>

            <a href="/tienda/?categoty=MyLittlePonny">
            <div class="filters__container{{#if isMyLittlePonny }} filters__container--click{{/if}}"></div>
            <h3 class="filters__item">My little ponny</h3></a>
 

          </br>

        <h2 class="filters__title">TEMÁTICA</h2>   
        
            <a href="/tienda/?tematic=SanValantine">
            <div class="filters__container{{#if isSanValantine }} filters__container--click{{/if}}"></div>
            <h3 class="filters__item">San Valentine</h3></a>
            
            <a href="/tienda/?tematic=Halloween">
            <div class="filters__container{{#if isHalloween }} filters__container--click{{/if}}"></div>
            <h3 class="filters__item">Halloween</h3></a>

    </br>
    
        <h2 class="filters__title">MATERIAL</h2>

          <a href="/tienda/?material=poliester">
          <div class="filters__container{{#if ispoliester }} filters__container--click{{/if}}"></div>
          <h3 class="filters__item">Poliester</h3></a>
          
          <a href="/tienda/?material=felpa">
          <div class="filters__container{{#if isfelpa }} filters__container--click{{/if}}"></div>
          <h3 class="filters__item">Felpa</h3></a>

    </br>
      </section> 

    <section class="products">

      {{#each products}}
      <div class="thumb">
        <a href="/producto/{{ name }}/{{ _id }}" class="thumb__link">
          <img class="thumb__img" src="{{ img }}" alt="">
          <h4 class="thumb__name">{{ name }}</h4>
          <h4 class="thumb__tam">{{ height }} cm - Alto</h4>
          <h4>${{price}}</h4>
          <h4>{{rating}}</h4>
          <button class="thumb__button">Añadir al carrito</button>
        </a>
      </div>
      {{/each}}
    </section>
  </main>

<script src="/scripts/client.js"></script>